<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>I love being with family, relaxing, boating, and Snowmobiling. I have three children, two girls and a boy,and one step son. They are all in their twenties. I also have 6 grand children. Ages range from 1, 2 ,2 5, 6,and 7. They are my pride and joy.  My wife and I have been married for 30 years. Lucky woman. Okay I am the lucky one. :)
      </div>
      <div class="col-lg-4">
        <p>I teach Automation and Robotics at Davis Technical College. I have been an instructor at Davis Tech since 2007. Before teaching at Davis Tech. I worked in industry as an Automation Technician, working on industrial equipment by maintaining and troublshooting the equipment. Everyday I am like a kid in a candy store. I am always challenging myself to learn and add new skills in an always changing field. Networking and computer science is an area that I would like to become more proficient in. I am loving the learning experience.
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
